@page "/"
@namespace SMPLX.ForecastingDashboard.Blazor.Pages
@using System.Globalization
@using Volo.Abp.AspNetCore.Components.Server.BasicTheme.Bundling
@using Volo.Abp.AspNetCore.Components.Web.BasicTheme.Themes.Basic
@using Volo.Abp.Localization
@{
    Layout = null;
    var rtl = CultureHelper.IsRtl ? "rtl" : string.Empty;
}

<!DOCTYPE html>
<html lang="@CultureInfo.CurrentCulture.Name" dir="@rtl">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>SMPLX.ForecastingDashboard.Blazor</title>
    <base href="~/"/>
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/default-base.css">
    <link href="_content/Blazorise.SpinKit/blazorise.spinkit.css" rel="stylesheet"/>

    <link rel="stylesheet" href="https://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
    <abp-style-bundle name="@BlazorBasicThemeBundles.Styles.Global"/>
</head>
<body class="abp-application-layout bg-light @rtl">
<component type="typeof(App)" render-mode="Server"/>

<div id="blazor-error-ui">
    <environment include="Staging,Production">
        An error has occurred. This application may no longer respond until reloaded.
    </environment>
    <environment include="Development">
        An unhandled exception has occurred. See browser dev tools for details.
    </environment>
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
<script>
window.initMap = (heatdata)=>{
    var mapDom = document.getElementById("hmap");
    if (!mapDom)return;
    
        var mapData = {
                    max: 8,
                    data: heatdata
                  };
        console.log()
        console.log(heatdata)
        var baseLayer = L.tileLayer(
          'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',{
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
             '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © ' +
              '<a href="http://cloudmade.com">CloudMade</a>',
            maxZoom: 14
          }
        );

        var cfg = {
          // radius should be small ONLY if scaleRadius is true (or small radius is intended)
          "radius": .009,
          "maxOpacity": 1, 
          // scales the radius based on map zoom
          "scaleRadius": true, 
          // if set to false the heatmap uses the global maximum for colorization
          // if activated: uses the data maximum within the current map boundaries 
          //   (there will always be a red spot with useLocalExtremas true)
          "useLocalExtrema": true,
          // which field name in your data represents the latitude - default "lat"
          latField: 'lat',
          // which field name in your data represents the longitude - default "lng"
          lngField: 'lng',
          // which field name in your data represents the data value - default "value"
          valueField: 'count'
        };


        var heatmapLayer = new HeatmapOverlay(cfg);

        var map = new L.Map('hmap', {
          center: new L.LatLng( 7.05626, 126.06125),//,7.092015, 126.105506
          zoom: 12,
          layers: [baseLayer, heatmapLayer]
        });

    //      L.popup()
    // .setLatLng([ 6.961836,126.012958])
    // .setContent("POBLACION")
    // .openOn(map);
    var legend = L.control({ position: "bottomleft" });
    
    var total = 0;
    legend.onAdd = function(map) {
      var div = L.DomUtil.create("div", "legend");
      div.innerHTML += "<h4>Barangays</h4>";
      let ht = '<table>';
      heatdata.forEach(h=>{
          total+=h.count;
          ht += '<tr><td>'+h.count+'</td><td>'+h.name+'</td></tr>';
      });
      ht += '<tr><td>'+total+'</td><td>Total</td></tr></table>';
      div.innerHTML += ht;
      return div;
      }
      legend.addTo(map);
    if(total>0){        
      heatmapLayer.setData(mapData);
      layer = heatmapLayer;
    }
}
</script>
<abp-script-bundle name="@BlazorBasicThemeBundles.Scripts.Global"/>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="_content/Blazorise.Charts/blazorise.charts.js"></script>
<script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>

<script src="https://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script src="/libs/heatmapjs/heatmap.min.js"></script>
<script src="/libs/heatmapjs/leaflet-heatmap.js"></script>
</body>
</html>